*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-center{
    text-align: center;
}
.align-v{
    justify-content: center;
    align-items: center;
}
header div .cow{
    color: #FECF4D;
}
header div h3{
    color: #91989d;
}
nav a{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: black;
}